link(rel="me", href="acct:jason@morganson.me")
link(rel="me", href="http://jason.morganson.me")
link(rel="home", href="http://jason.morganson.me")
link(rel="author", href="http://jason.morganson.me")
link(rel="author", href="mailto:jason@morganson.me")
link(rel="author", href="https://plus.google.com/115799597282883490421") 
link(rel="canonical", href="http://jason.morganson.me")
link(rel="publisher", href="http://jason.morganson.me")
link(rel="publisher", href="mailto:jason@morganson.me")
link(rel="publisher", href="https://plus.google.com/115799597282883490421") 

// RDF
link(rel="alternate", type="application/rdf+xml", href="profile.rdf")

// Turtle
link(rel="alternate", type="text/turtle", href="profile.ttl")

// Microformats
link(rel="home", href="http://jason.morganson.me")
link(rel="profile", href="http://microformats.org/profile/hcard")
link(rel="profile", href="http://microformats.org/profile/hresume")

// OpenIDs
link(rel="openid2.provider", href="https://www.google.com/accounts/o8/ud?source=profiles")
link(rel="openid2.local_id", href="https://profiles.google.com/113473317056893559857")
link(rel="openid.server", href="http://www.myopenid.com/server")
link(rel="openid.delegate", href="http://jmorganson.myopenid.com/")
link(rel="openid2.local_id", href="http://jmorganson.myopenid.com")
link(rel="openid2.provider", href="http://www.myopenid.com/server")
meta(http-equiv="X-XRDS-Location", content="http://www.myopenid.com/xrds?username=jmorganson.myopenid.com")
link(rel="openid.server", href="http://openid.claimid.com/server")
link(rel="openid.delegate", href="http://openid.claimid.com/jmorganson")

