
// Standard Meta
meta(charset="utf-8")

// Internet Explorer specific
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

// iOS specific
meta(name="viewport", content="width=device-width")
meta(name="format-detection", content="telephone=no")

// Site Properities
meta(name="description", content="#{getPreparedDescription()}")
meta(name="keywords", content="#{getPreparedKeywords()}")

// Site Verification
meta(name="google-site-verification", content="42eicWH4YrGDxtmELgWjTtzPbhkw9O6SPsMX4j0cL20")
meta(name="bitly-verification", content="801f53a49370")

// DocPad Meta
!= getBlock('meta').toHTML()


