include webfont

script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")

script.

    // Switch iMessage URI depending on the platform
    var iOS = ( navigator.userAgent.match(/(iPad|iPhone|iPod)/i) ? true : false );
    var iMessage = iOS ? "sms:" : "imessage://";
    $("#iMessage").attr("href", iMessage + "jason@morganson.me");

    // Prevent touch moves
    $(function () {

        $(document).bind('touchmove', false);
    })

!= getBlock('scripts').add(['/vendor/bigtext.js']).toHTML()

