
/*** Styles ***/

/** Body **/

html, body {

    /* Workaround for some mobile browsers */
    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;
}

/* Show a shadow under the broswe chrome at the top of the page */
body:before {

    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;

    border-bottom-left-radius:  100% 100px;
    border-bottom-right-radius: 100% 100px;

    -moz-box-shadow:    0px 0px 10px rgba(0,0,0,.8);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
    box-shadow:         0px 0px 10px rgba(0,0,0,.8);
}

body {

    /* This image will be displayed fullscreen */
    background:url('/img/background.png') no-repeat center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.body {
    font-size: 5vw;
}

::-webkit-scrollbar {
    display: none;
}


.wf-loading {
/*display:none;*/
}

a {
    color: black;
    text-decoration: none;
}

.hidden-text {
display: none;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

#name::selection {
    
    font-family: 'NeoRetroShadowRegular', sans-serif;
    color: red;
    background: #ffb7b7; /* Safari */
	}

.email {
    color: black;
    text-decoration: none;
}

.email::selection {
    color: blue;
}

#name, .email {
    text-align: justify;
    text-justify: inter-word;    
    font-size: 9vw;
    vertical-align: middle;
/*
  background: -webkit-gradient(linear, left top, left bottom, from(0.9), to(1.0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
}

.email {
    font-size: 13vw;
}

.vcard .footer {
    font-size: 0.9vw;
}

#name {
    font-family: 'NeoRetroDrawRegular', sans-serif;
}

.email {
    font-family: 'Stroke Dimension', cursive, serif;
}

.u-impp,
.tel {
    font-family: 'Special Elite', cursive, serif;
}


#name, .tel {
    white-space: nowrap;
}


.find body {

    font-family:'Source Code Pro', Courier, sans-serif;
    color: #CCCCCC;
    background: #000000;
}

.find div {

    padding-top: 1em;
    padding-bottom: 1em;
}

#jasonmorganson-dot h1 {

    display: inline;
}

#jasonmorganson-dot p {

    display: inline;
}

#slash-jasonmorganson {

    text-align: right;
}

#slash-jasonmorganson h1 {

    display: inline;
}

#slash-jasonmorganson p {

    display: inline;
}





