
/*** Styles ***/

body {

    /* This image will be displayed fullscreen */
    background:url('/img/background.png') no-repeat center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html, body {
    
    /* Workaround for some mobile browsers */
    /* Ensure the html element always takes up the full height of the browser window */
    min-height:100%;
}  


body:before {
          content: "";
          position: fixed;
          top: -10px;
          left: 0;
          width: 100%;
          height: 10px;

        -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
         box-shadow: 0px 0px 10px rgba(0,0,0,.8);

        border-bottom-left-radius: 100% 100px;
        border-bottom-right-radius: 100% 100px;

        z-index: 100;
}

.wf-loading {
display:none;
}

.hidden-text {
display: none;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

#name::selection {
    
    font-family: 'NeoRetroShadowRegular', sans-serif;
    color: red;
    background: #ffb7b7; /* Safari */
	}

#email::selection {
    color: blue;
}

.vcard {
    text-align: justify;
    text-justify: inter-word;    
    font-size: 9vw;
    vertical-align: middle;
/*
  background: -webkit-gradient(linear, left top, left bottom, from(0.9), to(1.0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */
}


.vcard .footer {
    font-size: 0.9vw;
}

#name {
    font-family: 'NeoRetroDrawRegular', sans-serif;
}


#email, #phone {
    font-family: 'Special Elite', cursive, serif;
}

#email {

    font-weight: bold;
}

#name, #phone {
    white-space: nowrap;
}


.find body {

    font-family:'Source Code Pro', Courier, sans-serif;
    color: #CCCCCC;
    background: #000000;
}

.find div {

    padding-top: 1em;
    padding-bottom: 1em;
}

#jasonmorganson-dot h1 {

    display: inline;
}

#jasonmorganson-dot p {

    display: inline;
}

#slash-jasonmorganson {

    text-align: right;
}

#slash-jasonmorganson h1 {

    display: inline;
}

#slash-jasonmorganson p {

    display: inline;
}





a {
    font-family: 'PT Mono', sans-serif;
}

section.main {
  position: relative;
}

section.coderwall {
  position: absolute;
  top: 0px;
  left: 800px;
}

.twitter-bird {
    
left: 2px;
margin-top: -5px;
width: 16px;
height: 13px;
}

.gtalk {
    height: 14px;
    width: 14px;
    padding: 0 2px 0 0;
    margin: 0;
    border: none;
    background-image: url( http://www.google.com/talk/service/resources/chaticon.gif );
}        

.gtalk-status {
    height: 9px;
    width: 9px;
    padding: 0 2px 0 0;
    margin: 0;
    border: none;
    background-image: url( http://www.google.com/talk/service/badge/Show?tk=z01q6amlqb1kf3b916soukop5pqefbd4n71s1v1r73340k3k0uvuuspicc2qe6a075u5ub5cal44s3iale3p5f390ff5o4a8n304okgq8bvd5gt6mhrdbufcotndnv1jt0g1k7kiv9t10obova4h1gjc9orkupgpjnq11un3b&amp;w=9&amp;h=9 );
    
            
