
include google

!= getBlock('scripts').toHTML()

script(src="build.js")
script

    require('brunch-console-polyfill');

    var $ = require('component-jquery');


    var domready = require('jb55-domready')
    domready(function () {

        $(document).bind('touchmove', false);

    })
