
include google

!= getBlock('scripts').toHTML()

script(src="build.js")
script

    require('brunch-console-polyfill');

    var $ = require('component-jquery');

script(src="/vendor/ready.js")
script

    domready(function () {

        $(document).bind('touchmove', false);

    })
