
include google


// DocPad Scripts + Our Own

!= getBlock('scripts').add(['/scripts/script.js']).toHTML()

script(src="build.js")
script(src="/vendor/ready.js")

script

    require('brunch-console-polyfill');

    domready(function () {

        var $ = require('component-jquery');

        $(document).bind('touchmove', false);

        analytics.initialize({
            'Google Analytics' : 'UA-36636260-1'
        });

    })
