---
layout: 'default'
title: 'Find me'
---

#jason-dot-morganson-dot-me
    h1 jason.morganson.me
    p (Web, Skype, RSS, ActivityStream, vCard, hCard)

#jason-at-morganson-dot
    h1 jason@morganson.me
    p (Email, iMessage, FaceTime, Mozilla Persona, OpenID, webfinger, SIP, SIMPLE, XMPP, GTalk, AIM, MSN)

#at-jasonmorganson
    h1 @jasonmorganson
    p (Twitter)

#jasonmorganson-dot
    h1 jasonmorganson.
    p (WordPress, Tumblr)

#slash-jasonmorganson
    p (LinkedIn, GitHub, coderwall, geekli.st)
    h1 /jasonmorganson

#qr
    img(src="/img/qr.png")

#tag
    img(src="/img/tag.png")
