---
layout: 'default'
title: 'Jason Morganson'
---


#hcard-Jason-Morganson.vcard(
    vocab="http://schema.org/", typeof="Person",
    itemtype="http://schema.org/Person", itemscope="")

    // Name
    #name.fn(property="name", itemprop="name") Jason Morganson

    // E-mail
    #email.email(property="email", itemprop="email") jason@morganson.me

    // Home phone
    #home.tel
        .type Home
        .value(property="telephone", itemprop="telephone") 1.888.891.6774

    // Cellphone
    #cell.tel
        .type Cell
        .value(property="telephone", itemprop="telephone") 1-518-302-4299

    // Fax
    #fax.tel
        .type Fax
        .value(property="faxNumber", itemprop="faxNumber") 1-518-310-2272

    // Address
    #address.adr(property="address", itemprop="address", itemtype="http://schema.org/PostalAddress", itemscope="")
            .street-address(property="streetAddress", itemprop="streetAddress") 16 Stage Coach Way
            .locality(property="addressLocality", itemprop="addressLocality") Lake Placid
            .region(property="addressRegion", itemprop="addressRegion") New York
            .postal-code(property="postalCode", itemprop="postalCode") 12946
            .country-name(property="addressCountry", itemprop="addressCountry") US

//        div
            a.url(rel="me", href="http://jason.morganson.me/") my site
            a.url(href="aim:goim?screenname=jmorganson") AIM
            a.url(href="ymsgr:sendIM?jasonmorganson") YIM
            a.url(href="xmpp:jason@morganson.me") Jabber

//.footer
    a(title="hCard", href="http://microformats.org/wiki/hcard") hCard embedded
    a(rel="profile", href="http://microformats.org/profile/hcard") hCard
    a(title="vCard", type="text/directory", href="http://h2vx.com/vcf/jason.morganson.me") Download vCard
    a(title="Portable Contact (JSON)", type="text/javascript", href="http://www.plaxo.com/pdata/vcard?vcardUrl=http%3A%2F%2Fh2vx.com%2Fvcf%2Fjason.morganson.me&format=json&plaintext=1&pretty=1") Portable Contact (JSON)
    a(title="Portable Contact (XML)", type="text/xml", href="http://www.plaxo.com/pdata/vcard?vcardUrl=http%3A%2F%2Fh2vx.com%2Fvcf%2Fjason.morganson.me&format=json&plaintext=1&pretty=1") Portable Contact (XML)
