---
layout: 'default'
title: 'Jason Morganson'
---


#hcard-Jason-Morganson.vcard

    #name.fn Jason Morganson
    #email.email jason@morganson.me
    #phone.tel 1-518-302-4299

    #hidden-text
        .adr
            span.street-address 16 Stage Coach Way
            span.locality Lake Placid
            span.region New York
            span.postal-code 12946
            span.country-name US

        div
            a.url(rel="me", href="http://jason.morganson.me/") my site
            a.url(href="aim:goim?screenname=jmorganson") AIM
            a.url(href="ymsgr:sendIM?jasonmorganson") YIM
            a.url(href="xmpp:jason@morganson.me") Jabber
            </div>

.footer
    a(title="hCard", href="http://microformats.org/wiki/hcard") hCard embedded.
    a(title="vCard", type="text/directory", href="http://h2vx.com/vcf/jason.morganson.me") Download vCard
    a(title="Portable Contact (JSON)", type="text/javascript", href="http://www.plaxo.com/pdata/vcard?vcardUrl=http%3A%2F%2Fh2vx.com%2Fvcf%2Fjason.morganson.me&format=json&plaintext=1&pretty=1") Portable Contact (JSON)
    a(title="Portable Contact (XML)", type="text/xml", href="http://www.plaxo.com/pdata/vcard?vcardUrl=http%3A%2F%2Fh2vx.com%2Fvcf%2Fjason.morganson.me&format=json&plaintext=1&pretty=1") Portable Contact (XML)
