---
layout: 'default'
priority: 1.0
---

    #resume

        #header

            // Name
            #name.name
                span#givenName.name Jason
                span.name 
                span#familyName.name Morganson

            // Web Page
            #webpage
                a(title="Webpage", href="http://jason.morganson.me") jason.morganson.me

            // E-mail
            #email.email
                a.email(title="E-Mail", href="mailto:jason@morganson.me") jason@morganson.me

            // Home phone
            #phone.tel
                .type.hidden-text Home
                a.value.hidden-text 1.888.891.6774

            // Cellphone
            #cell.tel
                .type.hidden-text Cell
                a.value 1.518.3O2.4299

            // SMS
            #sms.tel
                .type.hidden-text SMS
                a.value.hidden-text 1-716-380-5587

            // Fax
            #fax.tel
                .type.hidden-text Fax
                .value.hidden-text 1-518-310-2272

            // Address
            #address.address.hidden-text
                .street-address 16 Stage Coach Way
                .locality Lake Placid
                .region New York
                .postal-code 12946
                .country-name.hidden-text US


        #role
            != partial('role.html.md')

        #brief.section
            != partial('brief.html.md')

        #summary.section
            //-.section_header Summary
            //-hr.section_divider
            //-!= partial('summary.html.md')

        #technical.section
            //.section_header Technical Profile
            //hr.section_divider
            //!= partial('profile.html.md')

        #experience.section
            .section_header.stretch Experience
            hr.section_divider
            != partial('experience.html.md')

        #education.section
            .section_header.stretch Education
            hr.section_divider
            != partial('education.html.md')

//.footer
    a(title="hCard", href="http://microformats.org/wiki/hcard") hCard embedded
    a(rel="profile", href="http://microformats.org/profile/hcard") hCard
    a(title="vCard", type="text/directory", href="http://h2vx.com/vcf/jason.morganson.me") Download vCard
    a(title="Portable Contact (JSON)", type="text/javascript", href="http://www.plaxo.com/pdata/vcard?vcardUrl=http%3A%2F%2Fh2vx.com%2Fvcf%2Fjason.morganson.me&format=json&plaintext=1&pretty=1") Portable Contact (JSON)
    a(title="Portable Contact (XML)", type="text/xml", href="http://www.plaxo.com/pdata/vcard?vcardUrl=http%3A%2F%2Fh2vx.com%2Fvcf%2Fjason.morganson.me&format=json&plaintext=1&pretty=1") Portable Contact (XML)
