---
layout: default.jade
title: 'Find me'
---


#jason-dot-morganson-dot-me
    h1 jason.morganson.me
    p (Web, Skype, RSS, ActivityStream, vCard, hCard)

#jason-at-morganson-dot
    h1 jason@morganson.me
    p (Email, iMessage, FaceTime, Mozilla Persona, OpenID, webfinger, SIP, SIMPLE, XMPP, GTalk, AIM, MSN)

#at-jasonmorganson
    h1 @jasonmorganson
    p (Twitter)

#jasonmorganson-dot
    h1 jasonmorganson.
    p (WordPress, Tumblr)

#slash-jasonmorganson
    p (LinkedIn, GitHub, coderwall, geekli.st)
    h1 /jasonmorganson

#qr
    img(src="/img/qr.png")

#tag
    img(src="/img/tag.png")

// iMessage
//
a.u-url.url.u-impp(href="imessage://jason@morganson.me") iMessage

// Facetime
//
a.u-url.url.u-impp(href="facetime://jason@morganson.me") Facetime!

// IMs
//
a.u-url.url.u-impp(href="xmpp:jason@morganson.me") XMPP
a.u-url.url.u-impp(href="msnim:chat?contact=jason@morganson.me") MSN
a.u-url.url.u-impp(href="aim:goim?screenname=jason@morganson.me") AIM
a.u-url.url.u-impp(href="ymsgr:sendIM?jasonmorganson") YIM
a.u-url.url.u-impp(href="skype:jasonmorganson?call") Skype
