head

    // Site Properities
    title= getPreparedTitle()

    include meta
    include links

    != getBlock('styles').add(['/vendor/normalize.css','/vendor/hbp5.css','/vendor/diagnostic.css','/styles/style.css']).toHTML()

