
script $(document).bind('touchmove', false);

include jquery
include google

// DocPad Scripts + Our Own
!= getBlock('scripts').add(['/vendor/log.js', '/vendor/modernizr.js', "/scripts/script.js"]).toHTML()
