
@font-face {
    font-family: 'Green Pilloww';
    src: url('/fonts/GreenPilloww.ttf');
    src: url('/fonts/GreenPilloww.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

